section#home_msg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 0px;
  background: #E5D5AF;
  z-index: 9;
}
section#home_msg a {
  font-weight: 600;
  color: #081C21;
  margin: 0px;
  font-size: 1.6rem;
}

span.inline-a {
  color: inherit;
  border-bottom: 1px dashed rgba(255,255,255,0.6);
}
span.inline-a a {
  color: inherit;
  text-decoration: none;
}
span.inline-a:hover {
  color: #85975A;
  border-bottom-color: #85975A;
}

/* PAGE HEADER START */

header {
  position: fixed;
  display: block;
  background: #F5E8CE;
  left: 0;
  right: 0;
  top: 0;
  height: 94px;
  z-index: 97;
}

header div.title {
  position: absolute;
  left: 110px;
  right: 60px;
  top: 20px;
}
header h1 {
  float: left;
  padding: 0px 0px 0px 0px;
  font-size: 2.3rem;
  color: #85975A;
}

header div.social_icons {
  display: inline-block;
  margin: 0px 0px 0px 36px;
}
header div.social_icons a {
  font-size: 2.8rem;
  color: #081C21;
  margin: 0px 20px;
}

header div.icon {
  position: absolute;
  left: 15px;
  top: 10px;
}
header div.icon img {
  width: 65px;
}

header ul.menu:not(.mobile) { display: none; }

header ul.menu {
  float: right;
  padding: 26px 36px;
  list-style: none;
}
header ul.menu li {
  display: inline-block;
  margin: 4px 0px 4px 22px;
}
header ul.menu li a {
  color: #081C21;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}
header ul.menu li a:hover {
  text-decoration: underline;
}
div.content.header-margin { margin-top: 94px; }

/* Larger than tablet */
@media (min-width: 1170px) {
  header { height: 120px; }
  header div.title {
    left: 0px;
    right: auto;
    top: 0px;
  }
  header h1 {
    padding: 43px 0px 10px 170px;
    font-size: 3.4rem;
  }
  header ul.menu:not(.mobile) { display: block; }
  header ul.menu.mobile { display: none; }
  header div.icon {
    left: 36px;
    top: 10px;
  }
  header ul.menu { padding: 36px; }
  header div.icon img { width: 100px; }
  div.content.header-margin { margin-top: 120px; }
}

div.content {
  position: relative;
  display: block;
  padding: 50px 0px;
  z-index: 12;
  margin: 0px;
}

div.content.green { background: #8B8037; }
div.content.blue { background: #297F8C; }
div.content.olive { background: #85975A; }
div.content.mustard { background: #F1A841; }
div.content.rust { background: #AB3D15; }
div.content.cream { background: #E5D5AF; }
div.content.white { background: #F5E8CE; }


div.option {
  border-radius: 0px;
  background: #F5E8CE;
  padding: 30px 15px;
  margin: 25px 0px;
  position: relative;
  display: block;
}
div.option div.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 20, 30, 0.6);
  z-index: 20;
  display: none;
}
div.option.disabled div.cover {
  display: block;
}
div.option div.cover h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #F5E8CE;
  transform: translate(-50%, -50%) rotate(45deg);
}

div.option-img {
  width: 100%;
  position: relative;
  display: block;
}
div.option-img img { width: 100%; }

h4.option-title {
  color: #85975A;
  margin: 0px 0px 25px 0px;
}
h4.option-title span.option-price {
  background: #85975A;
  color: #F5E8CE;
  margin: 0px 0px 0px 30px;
  padding: 3px 8px;
  border-radius: 4px;
}
div.option p {
  color: #081C21;
  margin: 0px 0px 1rem 0px;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
}
div.option-perks ul {list-style: disc; padding: 0px 30px;}
div.option-perks ul li { font-size: 1.8rem; margin: 0px 0px 15px 0px; font-style: italic;}

button.option-button {
  background: #85975A;
  border-color: #85975A;
  color: #F5E8CE;
  transition: all 0.2s linear;
}
button.option-button:hover {
  background: #F5E8CE;
  border-color: #85975A;
  color: #85975A;
  transition: all 0.3s linear;
}

div.donation_meter {
  position: relative;
  display:block;
  margin: 50px auto;
  width: 100%;
  height: 40px;
}
div.donation_meter div.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 40px;
  border-radius: 20px;
  background: #081C21;
}
div.donation_meter div.bg_bonus {
  position: absolute;
  left: 66%;
  top: 0px;
  right: 0px;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  background: rgba(255,255,255,0.4);
  border-left: 1px dotted #F5E8CE;
}
div.donation_meter div.progress {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 40px;
  border-radius: 20px;
  background: #f1a841;
}
div.donation_meter p.percent {
  color: #F5E8CE;
  font-weight: 600;
  position: absolute;
  top: 3.5px;
}
div.donation_meter p.amount {
  background: #F5E8CE;
  color: #656D4A;
  font-weight: 600;
  position: absolute;
  transform: translateX(-50%);
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 1.6rem;
  top: 52px;
}
div.donation_meter p.amount:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  left: calc(50% - 7px);
  border: 7px solid transparent;
  border-bottom-color: #F5E8CE;
  top: -14px;
}

div.spinner {
  position: relative;
  display: block;
  padding: 0px;
  text-align: center;
}
div.spinner i {
  position: relative;
  display: block;
  margin: 30px auto;
  color: #656D4A;
}
div.spinner h4 {

}

div.modal {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 999;
  display: none;
}
div.modal div.bg {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: rgba(8, 28, 33, 0.7);
}
div.modal div.content {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 30px 30px;
  overflow: auto;
}
div.modal div.content i.fa-times {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 1.7rem;
  cursor: pointer;
}
div.modal div.content i.fa-times:hover {
  color: #85975A;
}

/* Larger than tablet */
@media (min-width: 1170px) {
  div.modal div.content {
    top: 50px;
    bottom: 50px;
    left: 120px;
    right: 120px;
    padding: 50px 100px;
  }
}

/* SOCIAL POST */
div.social_wall {
  text-align: center;
  max-width: 85%;
  margin: 50px auto;
}
div.social_wall h3 {
  color: #85975A;
  margin-bottom: 4rem;
}
div.social_post {
  position: relative;
  display: inline-block;
  margin: -7px -2px;
  width: 250px;
  height: 250px;
}
div.social_post a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
div.social_post img {
  width: 100%;
}

div.page_nav {
  text-align: center;
}
div.page_nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
div.page_nav ul li {
  display: inline-block;
  margin: 0px -1px;
  padding: 0;
  color: #656D4A;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s linear;
}
div.page_nav ul li:hover {
  background: #656D4A;
  color: #F5E8CE;
}
div.page_nav ul li a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  padding: 20px 30px;
  display: block;
}

div.form_extra {
  display: none;
  text-align: center;
  border-radius: 5px;
  background: rgba(255,255,255,0.6);
  padding: 30px 0px;
}
