@font-face {
    font-family: 'Grenette Pro';
    src: url('https://cdn.vagabondvege.nz/font/GrenettePro-Bold.woff2') format('woff2'),
        url('https://cdn.vagabondvege.nz/font/GrenettePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metric';
    src: url('https://cdn.vagabondvege.nz/font/Metric-Regular.woff2') format('woff2'),
        url('https://cdn.vagabondvege.nz/font/Metric-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
  height: 100vh;
}

.no-bm {
  margin-bottom: 1rem !important;
}
.no-lh {
  line-height: normal !important;
}

.intro div.icon {
  position: absolute;
  display: block;
  left: 10vw;
  right: 10vw;
  top: 20vh;
  bottom: 20vh;
  z-index: 5;
}
.intro div.icon img {
  position: relative;
  display: block;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .intro div.icon {
    top: 10vh;
    bottom: 10vh;
  }
  .intro div.icon img {
    height: 100%;
    width: auto;
  }
  .mouse { display: none;}
}

/* MENU CONTROLS */
div#menu_control {
  position: fixed;
  background: #081C21;
  width: 70px;
  height: 45px;
  right: 0px;
  top: 50%;
  border-radius: 30px 0px 0px 30px;
  z-index: 100;
  opacity: 0.6;
  transition: opacity 0.2s linear, right 0.3s ease-in-out;
  transform: translate(0%, -50%);
}
div#menu_control.shown { right: 0px; }
div#menu_control:hover {
  opacity: 1;
  cursor: pointer;
}
div#burger {
  position: absolute;
  width: 28px;
  height: 40px;
  right: 10px;
  top: 7px;
}
div#burger span {
  height: 3px;
  width: 100%;
  background: #F5E8CE;
  margin: 5.5px 0px;
  display: block;
}

/* Larger than tablet */
@media (min-width: 750px) {
  div#menu_control {
    width: 94px;
    height: 60px;
    right: 0px;
    border-radius: 30px 0px 0px 30px;
  }
  div#burger {
    position: absolute;
    width: 38px;
    height: 40px;
    right: 20px;
    top: 11px;
  }
  div#burger span {
    height: 4px;
    width: 100%;
    margin: 6.5px 0px;
  }
}
/* MENU CONTROL END */

/* MENU */
div#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  overflow: hidden;
  display: none;
}
#faux_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
div#menu_back {
  position: absolute;
  background: #081C21;
  width: 790px;
  height: 100vh;
  right: -790px;
  top: 0;
  transition: right 0.5s ease-in-out;
}
div#menu_back.open {
  right: 0px;
}

div#menu nav {
  position: absolute;
  right: 50px;
  padding: 100px 0px;
}
nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
nav ul li {
  color: #656D4A;
  margin: 16px 0px;
  font-size: 4rem;
  font-family: "Grenette Pro";
  display: none;
}
nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #F1A841;
}
nav ul li a, nav ul li a:hover { color: inherit; }

#menu a.ex_close {
  position: absolute;
  font-size: 2.8rem;
  color: #F5E8CE;
  top: 55px;
  right: 45px;
  z-index: 20;
}
#menu a.ex_close:hover { color: #E5D5AF; }

/* Larger than tablet */
@media (min-width: 900px) {
  nav ul li {
    margin: 20px 0px;
    font-size: 6rem;
  }
  div#menu nav {
    right: 100px;
    padding: 130px 0px;
  }
}
/* MENU END */

/* SOCIAL ICONS */
div.top_social {
  position: absolute;
  right: 40px;
  left: 40px;
  top: 20px;
  text-align: center;
}
div.social {
  position: absolute;
  right: 84px;
  top: 55px;
  text-align: right;
  display: none;
}
div.social a, div.top_social a {
  font-size: 2.8rem;
  color: #F5E8CE;
  margin: 0px 20px;
}
div.social a:hover, div.top_social a:hover {color: #E5D5AF;}
/* Larger than tablet */
@media (min-width: 750px) {
  div.top_social {
    right: 40px;
    top: 40px;
    text-align: right;
  }
  div.social {
    right: 84px;
    top: 55px;
    text-align: right;
  }
  div.social a, div.top_social a {
    font-size: 3.5rem;
    margin: 0px 20px;
  }
}
/* SOCIAL ICONS END */

h4.banner {
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-size: 2.6rem;
  text-align: center;
}
@media (min-width: 750px) {
  h4.banner {
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-size: 3.2rem;
    text-align: center;
  }
}

section:not(.slider) {
  position: relative;
  display: block;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 240px;
}

/* SLIDER SECTIONS */
section.slider {
  position: fixed;
  width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  top: 0px;
  box-sizing: border-box;
  height: 100vh;
  background: #F5E8CE;
  padding: 10px 10px;
}
section.slider div.image {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
section.slider div.image img {
  width: 100%;
  position: relative;
  top: 0px;
}
/* Larger than desktop */
@media (min-width: 1000px) {
  section.slider div.image img { top: -550px; }
}

section.slider div.message {
  position: absolute;
  padding: 15px 30px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: white;
  max-width: 600px;
}
section.slider div.message h1 {
  font-size: 4rem;
  color: #F1A841;
  margin: 0;
}
section.slider div.message h1 a.button {
  margin: 0px 0px 0px 40px;
  top: -10px;
  position: relative;
}
#slider_a { display: none; }
#slider_b { display: none; }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  section.slider {
    padding: 40px 100px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
  section.slider {
    padding: 60px 80px;
  }
  section.slider div.message {
    position: absolute;
    padding: 35px 90px;
    right: 0px;
    left: auto;
    bottom: 50px;
    background: white;
    max-width: 750px;
  }
  section.slider div.message h1 {
    font-size: 7rem;
    margin: 0;
  }
}

/* SLIDER SECTIONS END */

section.intro {
  min-height: 100vh;
  padding-top: 0px;
  position: fixed;
  top: 0px;
}

section.first {
  margin-top: calc(100vh + 100px);
  margin-bottom: calc(100vh + 200px);
  z-index: 5;
  padding-bottom: 70px;
}
section.middle {
  margin-top: 0px;
  margin-bottom: calc(100vh + 200px);
  padding-bottom: 70px;
  z-index: 6;
}
section.last {
  margin-top: -50px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: calc(100vh + 100px);
  z-index: 5;
}

section.green div.backer { background: #8B8037; }
section.blue div.backer { background: #297F8C; }
section.olive div.backer { background: #85975A; }
path.olive { fill: #85975A; }
section.mustard div.backer { background: #F1A841; }
section.rust div.backer { background: #AB3D15; }
section.cream div.backer { background: #E5D5AF; }
section.white div.backer { background: #F5E8CE; }

footer {
  background: #F5E8CE;
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
}
footer h5, footer a, footer span {
  font-size: 2rem;
  color: #081C21;
  margin: 0px;
  opacity: 0.8;
}
footer a {
  margin: 0px 10px;
}


div.backer {
  position: absolute;
  width: 500%;
  height: 100%;
  border-radius: 250%;
  left: -197%;
  top: 0px;
  z-index: 0;
  box-sizing: border-box;
  border: 6px solid transparent;
}

/* Larger than tablet */
@media (min-width: 750px) {
  div.backer {
    width: 250%;
    height: 100%;
    border-radius: 150%;
    left: -75%;
  }
}

section.last div.backer {
  z-index: 0;
}

div.section_title {
  display: block;
  position: relative;
  padding: 20px 0px 20px 0px;
  margin-left: -30px;
}

section.page_header {
  position: relative;
  display: block;
  width: 100vw;
  overflow: hidden;
  height: 160px;
}
section.page_header div.icon {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 12;
}
section.page_header div.icon img {
  width: 140px;
}

section.page_header div.intro_bg {
  position: absolute;
  z-index: 1;
  top: -542px;
  transform: rotate(-9deg);
  left: -38px;
}

h2.title {
  margin-bottom: 3.5rem;
}

div.img_wrap {
  position: relative;
  display: block;
  margin: 0rem 0rem;
}
div.img_wrap img {
  position: relative;
  display: block;
  width: 100%;
}
div.img_wrap small.caption {
  margin: 5px 0px 20px 0px;
  color: #E5D5AF;
  font-size: 1.4rem;
  display: block;
}

ul.timeline {
  padding: 0px;
  list-style: none;
}
li.timeline-item {

}
span.month {

}

.mouse {
  position: absolute;
  left: 50%;
  bottom: 48px;
  width: 28px;
  height: 90px;
  transform: translateX(-50%);
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  left: 50%;
}
.mouse:before {
  top: 8px;
  width: 4px;
  height: 10px;
  transform: translateX(-50%);
  background: #E5D5AF;
  border-radius: 2px;
  animation: scrolling 2s infinite ease-in-out;
}
.mouse:after {
  top: 0;
  left: 0;
  width: 28px;
  height: 48px;
  border-radius: 16px;
  border: 2px solid #E5D5AF;
}
@keyframes scrolling {
  0% {
    opacity: 0;
    top: 8px;
  }
  10% {
    opacity: 0;
    top: 8px;
  }
  20% {
    opacity: 1;
    top: 8px;
  }
  50% {
    opacity: 1;
    top: 14px;
  }
  60% {
    opacity: 0;
    top: 14px;
  }
  100% {
    opacity: 0;
    top: 14px;
  }
}
.mouse .arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: solid #E5D5AF;
  border-width: 0 2px 2px 0;
  width: 8px;
  height: 8px;
}
.mouse .arrow:nth-child(1) {
  top: 56px;
  animation: arrowone 2s infinite;
}
.mouse .arrow:nth-child(2) {
  top: 68px;
  animation: arrowtwo 2s infinite;
}
.mouse .arrow:nth-child(3) {
  top: 80px;
  animation: arrowthree 2s infinite;
}
@keyframes arrowone {
  0% { opacity: 0; }
  50% { opacity: 0; }
  65% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes arrowtwo {
  0% { opacity: 0; }
  60% { opacity: 0; }
  75% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes arrowthree {
  0% { opacity: 0; }
  70% { opacity: 0; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}
